body {
    background-image: url("../images/prism.png");
}

p {
    font-family: 'Almendra', serif;
    font-weight: bold;
    font-size: large;
}

#finalsection {
    padding-bottom: 5px;
}

h2 {
    padding-top: 10px;
}